@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #2b74f0;
  --font-geist-sans: inherit;
  --font-geist-mono: monospace;
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
